<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_btn_kuaisukaishi_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1758,53},{567,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{567,216}}</string>
			<key>sourceSize</key>
			<string>{567,216}</string>
		</dict>
		<key>MJ_btn_weixindenglu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1540,53},{567,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{567,216}}</string>
			<key>sourceSize</key>
			<string>{567,216}</string>
		</dict>
		<key>MJ_denglu_btn_beijing.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1536,864}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1536,864}}</string>
			<key>sourceSize</key>
			<string>{1536,864}</string>
		</dict>
		<key>MJ_denglu_btn_xieyi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1540,2},{253,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,49}}</string>
			<key>sourceSize</key>
			<string>{253,49}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>MJ_login.pvr.ccz</string>
		<key>size</key>
		<string>{1976,868}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5f109b9405efa3965b64facc9e68fba2$</string>
		<key>textureFileName</key>
		<string>MJ_login.pvr.ccz</string>
	</dict>
</dict>
</plist>
