<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_HALL_rank_point_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,339},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{16,16}}</string>
			<key>sourceSize</key>
			<string>{18,18}</string>
		</dict>
		<key>MJ_HALL_rank_point_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{934,572},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{14,14}}</string>
			<key>sourceSize</key>
			<string>{18,18}</string>
		</dict>
		<key>MJ_btn_jiantouanniu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,212},{383,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{383,118}}</string>
			<key>sourceSize</key>
			<string>{383,118}</string>
		</dict>
		<key>MJ_btn_tishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,770},{198,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,82}}</string>
			<key>sourceSize</key>
			<string>{198,82}</string>
		</dict>
		<key>MJ_btn_tishidian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1347,752},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{42,42}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>MJ_btn_yilingqu_anniu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,452},{355,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{355,118}}</string>
			<key>sourceSize</key>
			<string>{355,118}</string>
		</dict>
		<key>MJ_btn_yilingqu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,755},{202,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,74}}</string>
			<key>sourceSize</key>
			<string>{202,74}</string>
		</dict>
		<key>MJ_fnt_inventfriends_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1382,574},{117,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,56}}</string>
			<key>sourceSize</key>
			<string>{117,56}</string>
		</dict>
		<key>MJ_hall_btn_fangka.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,854},{44,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,51}}</string>
			<key>sourceSize</key>
			<string>{44,51}</string>
		</dict>
		<key>MJ_hall_btn_kefuxiaomei.png</key>
		<dict>
			<key>frame</key>
			<string>{{1382,464},{108,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,59}}</string>
			<key>sourceSize</key>
			<string>{108,59}</string>
		</dict>
		<key>MJ_honganniu.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,665},{177,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,88}}</string>
			<key>sourceSize</key>
			<string>{177,88}</string>
		</dict>
		<key>MJ_lananniu.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,744},{162,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,82}}</string>
			<key>sourceSize</key>
			<string>{162,82}</string>
		</dict>
		<key>MJ_mail_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,853},{53,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,87}}</string>
			<key>sourceSize</key>
			<string>{53,87}</string>
		</dict>
		<key>MJ_outgame_TOUXIANGKUANG.png</key>
		<dict>
			<key>frame</key>
			<string>{{1106,464},{274,273}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{274,273}}</string>
			<key>sourceSize</key>
			<string>{274,273}</string>
		</dict>
		<key>MJ_outgame_btn_GUANBIANNIU.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,747},{90,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,90}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>MJ_outgame_btn_can_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,592},{507,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{507,131}}</string>
			<key>sourceSize</key>
			<string>{507,131}</string>
		</dict>
		<key>MJ_outgame_btn_dalanseanniu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,332},{355,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{355,118}}</string>
			<key>sourceSize</key>
			<string>{355,118}</string>
		</dict>
		<key>MJ_outgame_btn_daluseanniu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1147,319},{285,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,88}}</string>
			<key>sourceSize</key>
			<string>{285,88}</string>
		</dict>
		<key>MJ_outgame_btn_dqueding_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,689},{98,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,56}}</string>
			<key>sourceSize</key>
			<string>{98,56}</string>
		</dict>
		<key>MJ_outgame_btn_duigou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1325,868},{50,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,18},{50,38}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>MJ_outgame_btn_duikongkuag.png</key>
		<dict>
			<key>frame</key>
			<string>{{1249,796},{74,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,74}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>MJ_outgame_btn_fasong_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,592},{150,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,75}}</string>
			<key>sourceSize</key>
			<string>{150,75}</string>
		</dict>
		<key>MJ_outgame_btn_fsongdibao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,339},{733,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{733,101}}</string>
			<key>sourceSize</key>
			<string>{733,101}</string>
		</dict>
		<key>MJ_outgame_btn_jia_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1169,739},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,21},{78,78}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>MJ_outgame_btn_jian_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1089,739},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>MJ_outgame_btn_jsfj_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1147,212},{292,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,105}}</string>
			<key>sourceSize</key>
			<string>{292,105}</string>
		</dict>
		<key>MJ_outgame_btn_lanseanniu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,626},{120,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,61}}</string>
			<key>sourceSize</key>
			<string>{120,61}</string>
		</dict>
		<key>MJ_outgame_btn_liaotianneirong_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,442},{589,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{589,148}}</string>
			<key>sourceSize</key>
			<string>{589,148}</string>
		</dict>
		<key>MJ_outgame_btn_queding_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,665},{203,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,103}}</string>
			<key>sourceSize</key>
			<string>{203,103}</string>
		</dict>
		<key>MJ_outgame_btn_quxiao_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1249,739},{96,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,55}}</string>
			<key>sourceSize</key>
			<string>{96,55}</string>
		</dict>
		<key>MJ_outgame_btn_weixuanzhongzhuangtai.png</key>
		<dict>
			<key>frame</key>
			<string>{{1089,819},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>MJ_outgame_btn_wenzidiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,212},{758,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{758,125}}</string>
			<key>sourceSize</key>
			<string>{758,125}</string>
		</dict>
		<key>MJ_outgame_btn_xuanzhongzhuangtai.png.png</key>
		<dict>
			<key>frame</key>
			<string>{{1325,796},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>MJ_outgame_btn_youjiandiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1439,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1439,208}}</string>
			<key>sourceSize</key>
			<string>{1439,208}</string>
		</dict>
		<key>MJ_outgame_btn_yunwen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1119,409},{313,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{313,53}}</string>
			<key>sourceSize</key>
			<string>{313,53}</string>
		</dict>
		<key>MJ_outgame_btn_zhunbei_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,725},{371,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{371,132}}</string>
			<key>sourceSize</key>
			<string>{371,132}</string>
		</dict>
		<key>MJ_outgame_di_FENGETIAO.png</key>
		<dict>
			<key>frame</key>
			<string>{{787,770},{53,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,4}}</string>
			<key>sourceSize</key>
			<string>{53,4}</string>
		</dict>
		<key>MJ_outgame_gerenxinxi.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,572},{339,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,91}}</string>
			<key>sourceSize</key>
			<string>{339,91}</string>
		</dict>
		<key>MJ_outgame_hushuzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,859},{401,47}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{401,47}}</string>
			<key>sourceSize</key>
			<string>{405,51}</string>
		</dict>
		<key>MJ_outgame_ic_nan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1382,693},{57,57}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{57,57}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>MJ_outgame_ic_nv.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,854},{49,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,68}}</string>
			<key>sourceSize</key>
			<string>{49,68}</string>
		</dict>
		<key>MJ_outgame_ic_yuanbao.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,854},{67,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,42}}</string>
			<key>sourceSize</key>
			<string>{67,42}</string>
		</dict>
		<key>MJ_outgame_ion_liaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1161,819},{48,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,47}}</string>
			<key>sourceSize</key>
			<string>{48,47}</string>
		</dict>
		<key>MJ_outgame_pz_touxiangkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,452},{154,172}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,6},{154,172}}</string>
			<key>sourceSize</key>
			<string>{160,178}</string>
		</dict>
		<key>MJ_outgame_pz_touxiangkuang_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,725},{126,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,126}}</string>
			<key>sourceSize</key>
			<string>{126,126}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>outgame_public.pvr.ccz</string>
		<key>size</key>
		<string>{1443,908}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f09e7dbe9d93770cbe1eaf13e4fd187d$</string>
		<key>textureFileName</key>
		<string>outgame_public.pvr.ccz</string>
	</dict>
</dict>
</plist>
