<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_invite_bg_Invitation.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1537,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1537,896}}</string>
			<key>sourceSize</key>
			<string>{1537,896}</string>
		</dict>
		<key>MJ_invite_btn_Invitation_open.png</key>
		<dict>
			<key>frame</key>
			<string>{{1033,900},{251,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,77}}</string>
			<key>sourceSize</key>
			<string>{251,77}</string>
		</dict>
		<key>MJ_invite_fnt_Invitation_word1.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,900},{720,79}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{720,79}}</string>
			<key>sourceSize</key>
			<string>{720,91}</string>
		</dict>
		<key>MJ_invite_fnt_Invitation_word2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1286,900},{220,71}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,7},{220,71}}</string>
			<key>sourceSize</key>
			<string>{220,91}</string>
		</dict>
		<key>MJ_invite_fnt_Invitation_word_middle1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,900},{307,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{307,91}}</string>
			<key>sourceSize</key>
			<string>{307,91}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>outgame_invite.pvr.ccz</string>
		<key>size</key>
		<string>{1541,993}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ec615856508863aaf2923dede1abf872$</string>
		<key>textureFileName</key>
		<string>outgame_invite.pvr.ccz</string>
	</dict>
</dict>
</plist>
