<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_Thehall_bangzhu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,1185},{218,111}}</string>
			<key>offset</key>
			<string>{-6,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,13},{218,111}}</string>
			<key>sourceSize</key>
			<string>{282,129}</string>
		</dict>
		<key>MJ_Thehall_bg_bottom_half.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1018},{960,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,165}}</string>
			<key>sourceSize</key>
			<string>{960,165}</string>
		</dict>
		<key>MJ_Thehall_bg_headframe.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,777},{487,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{487,179}}</string>
			<key>sourceSize</key>
			<string>{487,179}</string>
		</dict>
		<key>MJ_Thehall_bg_led_half.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,1185},{473,63}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{473,63}}</string>
			<key>sourceSize</key>
			<string>{479,63}</string>
		</dict>
		<key>MJ_Thehall_bg_top_half.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,829},{962,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{962,187}}</string>
			<key>sourceSize</key>
			<string>{962,187}</string>
		</dict>
		<key>MJ_Thehall_dabeij.png</key>
		<dict>
			<key>frame</key>
			<string>{{1461,2},{960,540}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,540}}</string>
			<key>sourceSize</key>
			<string>{960,540}</string>
		</dict>
		<key>MJ_Thehall_duihuanma_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,1073},{270,119}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{270,119}}</string>
			<key>sourceSize</key>
			<string>{282,129}</string>
		</dict>
		<key>MJ_Thehall_fankui_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1250,958},{208,119}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,5},{208,119}}</string>
			<key>sourceSize</key>
			<string>{282,129}</string>
		</dict>
		<key>MJ_Thehall_fenxiang_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1236,1079},{222,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,6},{222,117}}</string>
			<key>sourceSize</key>
			<string>{282,129}</string>
		</dict>
		<key>MJ_Thehall_jiarufangjian_nor.png.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,2},{735,773}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{735,773}}</string>
			<key>sourceSize</key>
			<string>{735,773}</string>
		</dict>
		<key>MJ_Thehall_rukou_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{720,825}}</string>
			<key>offset</key>
			<string>{-21,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,825}}</string>
			<key>sourceSize</key>
			<string>{762,825}</string>
		</dict>
		<key>MJ_Thehall_shezhi_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1460,1091},{232,119}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,7},{232,119}}</string>
			<key>sourceSize</key>
			<string>{282,129}</string>
		</dict>
		<key>MJ_Thehall_shuruyaoqingma_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1460,964},{258,125}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,2},{258,125}}</string>
			<key>sourceSize</key>
			<string>{282,129}</string>
		</dict>
		<key>MJ_Thehall_songfangka_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,958},{282,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{282,113}}</string>
			<key>sourceSize</key>
			<string>{282,129}</string>
		</dict>
		<key>MJ_Thehall_touxiangkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1694,1095},{140,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,140}}</string>
			<key>sourceSize</key>
			<string>{140,140}</string>
		</dict>
		<key>MJ_Thehall_touxiangkuangdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1836,1095},{138,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,140}}</string>
			<key>sourceSize</key>
			<string>{138,140}</string>
		</dict>
		<key>MJ_Thehall_xiaoxi_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1185},{230,111}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,9},{230,111}}</string>
			<key>sourceSize</key>
			<string>{282,129}</string>
		</dict>
		<key>MJ_Thehall_zhanjihuigu_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1720,964},{230,129}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,0},{230,129}}</string>
			<key>sourceSize</key>
			<string>{282,129}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>outgame_main.pvr.ccz</string>
		<key>size</key>
		<string>{2003,1298}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bb0ffe9011923f76263facefcb2190f5$</string>
		<key>textureFileName</key>
		<string>outgame_main.pvr.ccz</string>
	</dict>
</dict>
</plist>
