<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_outgame_setting_btn_dalanseanniu_qihuanzhanghao_nor.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,2},{224,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,66}}</string>
			<key>sourceSize</key>
			<string>{224,66}</string>
		</dict>
		<key>MJ_outgame_setting_btn_shezhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,2},{194,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,79}}</string>
			<key>sourceSize</key>
			<string>{194,79}</string>
		</dict>
		<key>MJ_outgame_setting_btn_xinxiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{203,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,108}}</string>
			<key>sourceSize</key>
			<string>{203,108}</string>
		</dict>
		<key>MJ_outgame_setting_btn_yinyue.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,2},{182,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,108}}</string>
			<key>sourceSize</key>
			<string>{182,108}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>outgame_set.pvr.ccz</string>
		<key>size</key>
		<string>{813,112}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:713855ef7928fb95bb33abf89c2c92be$</string>
		<key>textureFileName</key>
		<string>outgame_set.pvr.ccz</string>
	</dict>
</dict>
</plist>
