<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>DN_HALL_exchange_weixin.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,94},{68,61}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{68,61}}</string>
			<key>sourceSize</key>
			<string>{74,67}</string>
		</dict>
		<key>DN_HALL_exchange_zhifubao.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,164},{74,64}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{74,64}}</string>
			<key>sourceSize</key>
			<string>{80,68}</string>
		</dict>
		<key>DN_HALL_excharge_cover_x2.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,199},{51,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,30}}</string>
			<key>sourceSize</key>
			<string>{51,30}</string>
		</dict>
		<key>DN_HALL_recharge_bg_bigbrown_mainfnt_double.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{195,65}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{195,65}}</string>
			<key>sourceSize</key>
			<string>{199,69}</string>
		</dict>
		<key>DN_HALL_recharge_bg_bigbrown_mainfnt_recharge.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,271},{116,64}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{116,64}}</string>
			<key>sourceSize</key>
			<string>{120,68}</string>
		</dict>
		<key>DN_HALL_recharge_btn_bigbrown_fnt_duanxin.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,164},{97,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{97,34}}</string>
			<key>sourceSize</key>
			<string>{101,38}</string>
		</dict>
		<key>DN_HALL_recharge_btn_bigbrown_fnt_pingguo.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,163},{97,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{97,34}}</string>
			<key>sourceSize</key>
			<string>{101,38}</string>
		</dict>
		<key>DN_HALL_recharge_btn_bigbrown_fnt_weixin.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,127},{97,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{97,34}}</string>
			<key>sourceSize</key>
			<string>{101,38}</string>
		</dict>
		<key>DN_HALL_recharge_btn_bigbrown_fnt_zhifubao.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,263},{73,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,1},{73,34}}</string>
			<key>sourceSize</key>
			<string>{101,38}</string>
		</dict>
		<key>DN_HALL_recharge_mid_goldframe_cover.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,164},{159,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,28}}</string>
			<key>sourceSize</key>
			<string>{159,28}</string>
		</dict>
		<key>DN_HALL_recharge_mid_goldframe_cover_frist.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,69},{181,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,56}}</string>
			<key>sourceSize</key>
			<string>{181,56}</string>
		</dict>
		<key>DN_HALL_signed_btn_spiralgreen_fnt_keepbuy.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,231},{121,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{121,38}}</string>
			<key>sourceSize</key>
			<string>{125,42}</string>
		</dict>
		<key>DN_HALL_signed_btn_spiralgreen_fnt_outbuy.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,127},{67,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{67,35}}</string>
			<key>sourceSize</key>
			<string>{71,39}</string>
		</dict>
		<key>DN_HALL_signed_btn_spiralgreen_fnt_wexin.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,199},{121,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{121,38}}</string>
			<key>sourceSize</key>
			<string>{125,42}</string>
		</dict>
		<key>DN_HALL_signed_btn_spiralgreen_fnt_zhifubao.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,2},{90,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{90,39}}</string>
			<key>sourceSize</key>
			<string>{94,43}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>recharge.pvr.ccz</string>
		<key>size</key>
		<string>{248,346}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:71f4af5953fdff8a0e1759e771491280$</string>
		<key>textureFileName</key>
		<string>recharge.pvr.ccz</string>
	</dict>
</dict>
</plist>
