<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MJ_btn_guize_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,352},{104,52}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{104,52}}</string>
			<key>sourceSize</key>
			<string>{108,56}</string>
		</dict>
		<key>MJ_btn_huatou.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,732},{118,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,120}}</string>
			<key>sourceSize</key>
			<string>{118,120}</string>
		</dict>
		<key>MJ_btn_huitiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{935,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{935,65}}</string>
			<key>sourceSize</key>
			<string>{935,65}</string>
		</dict>
		<key>MJ_btn_kaiqi.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,1175},{105,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,89}}</string>
			<key>sourceSize</key>
			<string>{105,89}</string>
		</dict>
		<key>MJ_btn_lingqu17.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,242},{108,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,59}}</string>
			<key>sourceSize</key>
			<string>{108,59}</string>
		</dict>
		<key>MJ_btn_lingquanniug.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,367},{363,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,120}}</string>
			<key>sourceSize</key>
			<string>{363,120}</string>
		</dict>
		<key>MJ_btn_ren_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,1175},{33,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,41}}</string>
			<key>sourceSize</key>
			<string>{33,41}</string>
		</dict>
		<key>MJ_btn_weikailingquanniug.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,2},{363,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{363,120}}</string>
			<key>sourceSize</key>
			<string>{363,120}</string>
		</dict>
		<key>MJ_btn_weikaiqi.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,1068},{105,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,89}}</string>
			<key>sourceSize</key>
			<string>{105,89}</string>
		</dict>
		<key>MJ_btn_weikaiqi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,961},{105,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,89}}</string>
			<key>sourceSize</key>
			<string>{105,89}</string>
		</dict>
		<key>MJ_btn_weikaiqi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,854},{105,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,89}}</string>
			<key>sourceSize</key>
			<string>{105,89}</string>
		</dict>
		<key>MJ_btn_yaoqinghaoyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,854},{227,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,70}}</string>
			<key>sourceSize</key>
			<string>{227,70}</string>
		</dict>
		<key>MJ_btn_yaoqinhaoyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,939},{318,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{318,85}}</string>
			<key>sourceSize</key>
			<string>{318,85}</string>
		</dict>
		<key>MJ_btn_yqhy_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,2},{238,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,45}}</string>
			<key>sourceSize</key>
			<string>{238,45}</string>
		</dict>
		<key>MJ_btn_zuojiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,458},{43,68}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{43,68}}</string>
			<key>sourceSize</key>
			<string>{47,72}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>request.pvr.ccz</string>
		<key>size</key>
		<string>{252,1281}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:39038e66ceb17acec7101dc5183c8931$</string>
		<key>textureFileName</key>
		<string>request.pvr.ccz</string>
	</dict>
</dict>
</plist>
